@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,600,700');

* {
    box-sizing: border-box;
}

header {
    margin: 10px;
    text-align: center;
}


.container {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 600;
    background-color: #f9f9f9;
    height: 280px;
    width: 300px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 0px 25px;
    margin: 5px;
}

.teapot {
    margin: 0 auto;
    background-color: lightgrey;
    height: 100px;
    width: 230px;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
}

.water {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 230px;
    background-color: #a3bced;
}

.water span {
    font-size: 0.9em;
}

.container span {
    display: inline-block;
    margin: 5px;
}

.button_action {
    display: block;
    margin: 10px auto;
    font-size: 24px;
    color: #588e5f;
    background-color: #a2f2ac;
    width: 250px;
    height: 40px;
    border: 1px solid #588e5f;
    border-radius: 5px;
    outline: none;
    position: relative;
    cursor: pointer;
    transition: 0.1s linear;
}

.button:hover {
    transform: scale(1.03);   
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
